# Dependencias
/node_modules
/vendor
/.phpunit.cache
.phpunit.result.cache

# Entorno
.env
.env.*.local
.env.backup
.env.production

# Storage y builds
/public/build
/public/hot
/public/storage
/storage/*.key

# Logs
*.log
npm-debug.log
yarn-error.log
storage/logs/*.log

# IDE/Editor
.idea
.fleet
.vscode
.DS_Store

# Archivos de configuración local
Homestead.json
Homestead.yaml
auth.json
